* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto';
  background-color: #ffffff;
  overflow-x: hidden;
}

/* Esta es la barra de navegacion. */
.navbar {
  font-family: 'Lato';
  background-color: #f6f6f6;
  overflow: hidden;
  height: 63px;
  text-align: right;
  /* border-bottom: 1px solid rgba(128, 128, 128, 0.454); */
  /* box-shadow: 1px 0px 50px rgba(68, 68, 68, 0.488); */
}

.logodiv h1 {
  position: absolute;
  top: 32px;
  right: -130px;
  font-family: futura;
  font-size: 30px;
}

/* Este es el truquito del logo que se cambia con el hover */
.logodiv {
  width: 300px;
  height: 0px;
  position: relative;
  right: 0px;
  left: 60px;
  bottom: 5px;
  display: block;
  margin: 0px;
}

.logodiv .logostw {
  display: none;
  position: absolute;
}

.logodiv:hover .logostw {
  display: block;
  z-index: 99;
}
  
.logostw {
  width: 300px;
  padding: 0px;
  opacity: 0.7;
}

.LogoRed {
  width: 300px;
  opacity: 0.7;
}
  
/* Este es el menu hamburguesa. */
.navbar a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 16px 16px;
  text-decoration: none;
  font-size: 15px;
  border-radius: 30px;
  
}

.hamburger:hover path{
  stroke: white;
}

/* Lista no ordenada de links */
.navbar ul {
  margin: 8px 100px 0 0;
  list-style: none;
}
  
/* Mouseover links */
.navbar a:hover {
  background-color: rgba(0, 0, 0, 0.714);
  border-radius: 0px;
  color: white;
  text-decoration: underline;
  text-underline-position: under;
  transition: 1s;
}
  
.navbar ul li a:hover {
  /* background-color: rgba(221, 221, 221, 0.146); */
  color: white;
  text-decoration: underline;
  /* border-radius: 50%; */
  box-shadow: 10 10 10 10 black;
  backface-visibility: hidden;
  transition: 1s;
  /* text-shadow: 1px 1px 2px white; */
  /* border-bottom: dashed 1px rgba(0, 0, 0, 0.515); */
}
  
.hamburger:hover {
  background-color: #ddd;
  transition: .2s; 
}
  
/* Lista de links */ 
.navbar ul li {
  display: inline-block;
}
  
.side-nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  opacity: 0.9;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}
  
.side-nav a {
  padding: 10px 10px 10px 30px;
  text-decoration: none;
  font-size: 22px;
  color: #ccc;
  display: block;
  transition: 0.3s;
}
  
.side-nav a:hover {
  color: white;
  text-decoration: underline;
  /* background-color: white; */
  /* border-radius: 100px; */
  transition: .5s;
}

/* Este es el boton para cerrar la barra de navegacion. */
.side-nav .btn-close {
  position: absolute;
  top: 0px;
  right: 10px;
  font-size: 30px;
  margin-left: 0px;
}
  
/* Este es el boton de Spanish */
input[class=spanish] {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 63px;
  background-color: #0082cb;
  border: none;
  color: rgba(255, 255, 255, 0.796);
  padding: 16px 20px;
  text-decoration: none;
  margin: 0px;
  cursor: pointer;
  transition: .5s;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}
  
input[class=spanish]:hover {
  background-color: #ee3b44;
  color: white;
  transition: .5s;
  text-shadow: 1px 1px 2px black;
  -webkit-appearance: none;
}

.mainimage {
  position: relative;
  width: 100vw;
  overflow: hidden;
}

.mainimage img {
  width: 100vw;
  height: 250px;
  object-fit: cover;
  opacity: 0.8;
  box-shadow: 1px 1px 50px rgba(0, 0, 0, 0.385);
  margin-bottom: 50px;
}

.maintext {
  position: absolute;
  top: 30%;
  left: 10%;
  transform: translate(0%, 0%);
  font-size: 40px;
  font-family: sans-serif;
  font-weight: 900;
  color: white;
  text-shadow: 1px 1px 10px black;
}

.coursecontainer {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: auto;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.coursebox {
  background-color: white;
  color: black;
  margin: 20px 15px;
  flex-basis: 550px;
  /* flex-grow: 0; */
  /* flex-shrink: 0; */
  /* width: 350px; */
  height: auto;
  border-radius: 20px;
  box-shadow: 1px 1px 50px rgba(0, 0, 0, 0.228);
  overflow: hidden;
}

.coursebox:hover img {
  transform: scale(1.04); 
  -webkit-transform: scale(1.04);
  opacity: 1;
  transition: .4s ease;
}

.courseBottom h3 {
  margin: 20px;
  opacity: 0.7;
}

.coursebox:hover h3 {
  opacity: 1;
  color: red;
}

}

.courseTop {
  width: 550px;
  height: 250px;
  margin: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
}

.courseBottom h1 {
  margin-bottom: 5px;
}

.courseBottom hr {
  
}

.courseBottom {
  margin: 25px 25px;
  /* border-top: 10px solid green; */
}

.courseTop img {
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
  /* position: relative;
  top: -10px;
  left: -50px; */
  display:block;
  margin:auto;
  transition: .4s ease;
  opacity: 0.7;
}

.courseFooter {
  /* background-color: #d8d8d8; */
}

.courseFooterButton {
  background-color: #0082cb;
  color: white;
  padding: 7px;
  position: relative;
  float: right;
  margin-right: 60px;
  margin-bottom: 10px;
  font-size: 13px;
  transition: 1s;
  border-radius: 5px;
}

.courseFooterButton:hover {
  background-color: #ee3b44;
  color: white;
  position: relative;
  float: right;
  margin-right: 60px;
  margin-bottom: 10px;
  font-size: 13px;
  transition: .5s;
  cursor: pointer;
  text-decoration: underline;
}

.footer {
  height: 300px;
  background-color: black;
  padding-top: 70px;
  margin-top: 50px;
  }

.footer1 {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  /* margin-top: 50px; */
  background-color: black;
  height: 300px;
  overflow: hidden;
  color: white;
  display: flex;
  justify-content: space-between;
  /* margin-top: 20px;
  position: relative; */
}

.footer1 p {
  padding: 3px 0px;
}

@media(max-width:1159px) {
  
.navbar-nav {
    display: none;
}

.logodiv {
  width: 240px;
  height: 0px;
  position: relative;
  right: 0px;
  left: 100px;
  bottom: 5px;
  display: block;
  margin: 0px;
}

.logodiv .logostw {
  display: none;
  position: absolute;
  z-index: 99;
}

.logodiv:hover .logostw {
  display: inline;
}

.logostw {
  width: 250px;
  position: absolute;
  right: 30px;
  top: 5px;
}

.LogoRed {
  width: 250px;
  position: absolute;
  right: 30px;
  top: 5px;
}

.logodiv h1 {
  position: absolute;
  top: 35px;
  right: -75px;
  font-family: futura;
  font-size: 24px;
}

}
    
@media(min-width: 1160px) {
  
.open-slide {
      display: none;
}
  
}
    
@media(max-width: 590px) {

.logodiv h1 {
  display: none;
}

.coursebox {
  background-color: white;
  color: black;
  margin: 20px 15px;
  flex-basis: 350px;
  /* flex-grow: 0; */
  /* flex-shrink: 0; */
  height: auto;
  border-radius: 20px;
  box-shadow: 1px 1px 50px rgba(0, 0, 0, 0.228);
  overflow: hidden;
}

.courseTop {
  width: 350px;
  height: 250px;
  margin: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
}

.courseBottom h1 {
  margin-bottom: 5px;
}

.courseBottom hr {
  
}

.courseBottom {
  margin: 25px 25px;
  /* border-top: 10px solid green; */
}

.courseTop img {
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
  flex-shrink: 0;
}
  /* position: relative;
  top: -10px;
  left: -50px; */
  /* display:block;
  margin:auto; */
}

}

@media(max-width: 400px) {

  .logodiv h1 {
    display: none;
  }
  
  .coursebox {
    background-color: white;
    color: black;
    margin: 20px 15px;
    flex-basis: 200px;
    /* flex-grow: 0; */
    /* flex-shrink: 0; */
    height: auto;
    border-radius: 20px;
    box-shadow: 1px 1px 50px rgba(0, 0, 0, 0.228);
    overflow: hidden;
  }
  
  .courseTop {
    width: 200px;
    height: 250px;
    margin: 0px;
    margin-bottom: 0px;
    padding-left: 0px;
  }
  
  .courseBottom h1 {
    margin-bottom: 5px;
  }
  
  .courseBottom hr {
    
  }
  
  .courseBottom {
    margin: 25px 25px;
    /* border-top: 10px solid green; */
  }
  
  .courseTop img {
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
    flex-shrink: 0;
  }
    /* position: relative;
    top: -10px;
    left: -50px; */
    /* display:block;
    margin:auto; */
  }
  
  } 